
/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

p {
    color: #333333;
    font-size: 20px;
}

.terms {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

.text-container {
    margin-top:  20px;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
  padding:2%;
}

body {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
  font-weight:bold;
    text-align: center;
    color:#333333;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  color: #a7a2a2;
  text-align:left;
  font-weight:bold;
}

h6 {
  font-size: 13px;
}

p2 {
    display: block;
    font-size: 14px;
    text-align: left;
    padding-bottom: 10px;
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}


/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-scavenger {
    background-color: #f2f2f2;
    
}

.institution-select {
    padding: 8px;
    text-align: center !important;
    border: dashed 1px #dddddd;
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    font-weight: bold;
}



.fact-box {
    margin-top: 10px;
    
}


/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
  overflow:hidden;
}

.wrapper--w960 {
  max-width: 960px;
}
.wrapper--w300 {
  max-width: 300px;
}

.wrapper--w500 {
  max-width: 500px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 18px;
width: 100%;
}

.answer {
  text-align: center;
  font-size: 20px;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 5px;
}

.btn--blue {
  background: #49c5fc;
}

.btn--grey {
  background: #b1b1b1;
}

.btn--green:hover {
  background: #08b811;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input--style-3 {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.input--style-3::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

.input--style-3:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

.input--style-3::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

.input--style-3:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

.input--style-3:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 36px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 0;
  color: #ccc;
  font-size: 16px;
  font-family: inherit;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {

  font-family: 'Fredoka One', cursive;
  color: #4c4748;
  font-weight: 400;
  margin-bottom: 0;
  font-size: 24px;
  width: 100%;
  text-align: left;
  -webkit-animation: colorpulse 4s infinite alternate;
  animation: colorpulse 4s infinite alternate;  
}

.header-info {
  height:auto;
  position:relative;
}

.linkUnidays {
  position:absolute;
  right:0;
  top:0;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  line-height: 42px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/gaofact.appspot.com/o/unidaysicon.png?alt=media&token=f3f0b3b3-9976-4d15-a8ea-d2a9d26bdd70);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 6px;
  margin-right: 0px;
}

.nav {
  margin-top:20px;
  overflow-x: scroll;
  white-space: nowrap;
}

.nav-item {
  padding: 5px 6px 5px 6px;
  border-radius: 50px;
  display: inline-block;
  background-color: white;
  color:#333333;
}

.nav-item-selected {
  background-color: orange;
  border:none;
}


/* ==========================================================================
   #CARD
   ========================================================================== */
  .carousel-inner {
    height:100%;
  }

#myCarousel {

  height:100%;
}

.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-height: 400px;
  margin-bottom:30px;
}

.card-3 {
  
  width: 100%;
  height:100%;
  display: table;
}

.card-3 .card-body {
  padding: 0;
  width:100%;
  height:100%;
  position: absolute;
}

.fact-image {
  width:100%;
  height:auto;
  border-radius: 10px 10px 0 0;
}

.fact-body {
  padding:4%;
  height: auto;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.fact-slugs {
  position: absolute;
  right:10px;
  top:10px;
  width: auto;
}

.fact-message {
  display:inline-block;
  height:40px;
  min-width:40px;
  border-radius: 6px;
  text-align: center;
  line-height: 40px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.fact-buttons {
  width:100%;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.fact-share, .fact-read {
  width:120px;
  height: 40px;
  font-size:15px;
  background-color: #27d6c5;
  color:white;
}

.share-text {
  height: 100px;
    border-radius: 10px;
    width: 100%;
    border: none;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    resize: none;
    padding:10px;
}



.scroll-buttons-container {
  width: 100%;
  position: fixed;
  bottom:25px;
  height:60px;

}

.scroll-buttons {
  position: relative;
  width: 100%;
  max-width: 180px;
  margin:0 auto;
}
.scroll-button {
  width:50px;
  height: 50px;
  background-color:#ffffff;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  line-height: 50px; 
  text-align: center;
  font-size:20px;
  border-radius: 100%;

}

.scroll-button-right {
  float:right;
}

.scroll-button-left {
  float:left;
}


.fact-status {
  width:150px;
  font-size:14px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;;
  text-align:center;
}


@media (max-width: 767px) {
  .card-3 {
    display: block;
  }
  .card-3 .card-heading {
    display: block;
    width: 100%;
    padding-top: 400px;
    background-position: center center;
  }
  .card-3 .card-body {
    display: block;
    width: 100%;
  }
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.share {
  display:inline-block;
  bottom:0;
  right:0;
}

.pin {
  height: 40px;
    background-color: #dddddd;
    border-radius: 6px;
    color: white;
    line-height: 40px;
    text-align: center;
    width: 47px;
    display:inline-block;
    cursor: pointer;
}


.share-container {
  
  width: 80%;
  position:relative;
  
}

.share-button-container {
  position: absolute;
  bottom:0;
  right: 0;
}

.share-message {
  height:120px;
  text-align: left;
}

@-webkit-keyframes colorpulse {
0%   { color: #009e85; }
25%  { color: #ea309c; }
50%  { color: #f59c0d; }
75%  { color: #2482b9; }
}
@keyframes colorpulse {
0%   { color: #009e85; }
25%  { color: #ea309c; }
50%  { color: #f59c0d; }
75%  { color: #2482b9; }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#dddddd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#dddddd;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#dddddd;
}