<!DOCTYPE html>
<head></head>
<body>
<div class="container">  

    <form action="/bulk" method="post" enctype="multipart/form-data">  
      <h3>Add more data you fiend</h3>
      <label for="facts">facts:</label>
        <textarea name="facts" id="" cols="30" rows="10"></textarea>
      
        
        <br><br>
 <input type="text" name="password">
        <input type="submit">
    </form>
  </div>
</body>
</html>