<!DOCTYPE html>
<head></head>
<body>
<div class="container">  
    <form id="contact" action="/bulk" method="post">
      <h3>Colorlib Contact Form</h3>
      <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="myfile"><br><br>
        Password: <input type="text" name="password">
        <input type="submit">
    </form>
  </div>
</body>
</html>